# Environment files
*.env

# Compiled source files
target/
build/

# Sink data when running any sinker
sink-data/
data/

# The spkg packed by the subtreams cli
*.spkg

# Log files
*.log
state.yaml

# Cached files
!block-index/*.spkg
